<h1>Digital Banking Services</h1>

<!-- 
  Note: Each control in an Angular form can have the following states:

    pristine  - true if the user has not yet interacted with the control.
    dirty     - true if the user has interacted with the control.
    
    untouched - true if the control has not yet lost focus.
    touched   - true if the control has lost focus.
    
    valid     - true if the control is valid.
    invalid   - true if the control is invalid.
-->
  
<form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <h2>How can we help you save?</h2>

    <h2>Our go-to account for building your savings habit</h2>

	<h3>Digital Regular Saver</h3>

    <ul>
        <li>Earn our highest interest rate when you save between £1-£50 each month</li>
		<li>Get into a regular savings habit</li>
        <li>Instantly access your money whenever you need to</li>
        <li>Apply online only in just 5 minutes</li>
	</ul>

    <h2>Digital Regular Saver</h2>

    <p>3% Gross / 3.04% AER p.a. (variable) on balances up to £1,000</p>
</form>