<div [formGroup]="form" class="form-row">

    <label [attr.for]="formItem.key">{{formItem.label}}</label>

    <span [ngSwitch]="formItem.controlType">
    
        <input *ngSwitchCase="'textbox'" 
               [formControlName]="formItem.key"
               [id]="formItem.key" 
               [type]="formItem.type">
    
        <select *ngSwitchCase="'dropdown'" 
                [formControlName]="formItem.key"
                [id]="formItem.key">
            <option *ngFor="let option of formItem.options" [value]="option.key">{{option.value}}</option>
        </select>
  
    </span> 

    <span class="errorMessage" *ngIf="!isValid">{{formItem.label}} is required</span>

</div>
