<h1>Set up Digital Banking</h1>

<!-- Note, the novalidate attribute disables the normal HTML validation, so Angular validation can kick-in -->
<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)" novalidate>		  

	<p>
		<label>First name</label>
		<input type="text" formControlName="description">
        <span [hidden]="productForm['controls'].description.valid || productForm['controls'].description.pristine" class="error">Description is required</span>
    </p>
	
	<p>
		<label>Middle name</label>
		<input type="text" formControlName="category">
        <span [hidden]="productForm['controls'].category.valid || productForm['controls'].category.pristine" class="error">Category is required</span>
    </p>
	
	<div formGroupName="pricePolicy">
		<p>
			<label>Date of birth</label>
			<input type="text" formControlName="lowPrice">
            <span [hidden]="productForm['controls'].pricePolicy['controls'].lowPrice.valid || productForm['controls'].pricePolicy['controls'].lowPrice.pristine" class="error">Price is below minimum</span>
        </p>
		<p>
			<label>Home postcode</label>
			<input type="text" formControlName="highPrice">
            <span [hidden]="productForm['controls'].pricePolicy['controls'].highPrice.valid || productForm['controls'].pricePolicy['controls'].highPrice.pristine" class="error">Price is below minimum</span>
        </p>
	</div>	

	<div formGroupName="pricePolicy">
		<p>
			<label>Sort code</label>
			<input type="text" formControlName="lowPrice">
            <span [hidden]="productForm['controls'].pricePolicy['controls'].lowPrice.valid || productForm['controls'].pricePolicy['controls'].lowPrice.pristine" class="error">Price is below minimum</span>
        </p>
		<p>
			<label>Account number</label>
			<input type="text" formControlName="highPrice">
            <span [hidden]="productForm['controls'].pricePolicy['controls'].highPrice.valid || productForm['controls'].pricePolicy['controls'].highPrice.pristine" class="error">Price is below minimum</span>
        </p>
		<p>
			<label>Debit card number</label>
			<input type="text" formControlName="highPrice">
            <span [hidden]="productForm['controls'].pricePolicy['controls'].highPrice.valid || productForm['controls'].pricePolicy['controls'].highPrice.pristine" class="error">Price is below minimum</span>
        </p>
		<p>
			<label>Expiry date</label>
			<input type="text" formControlName="highPrice">
            <span [hidden]="productForm['controls'].pricePolicy['controls'].highPrice.valid || productForm['controls'].pricePolicy['controls'].highPrice.pristine" class="error">Price is below minimum</span>
        </p>
	</div>	
    
    <p>
	    <button type="submit" [disabled]="!productForm.valid">Submit</button> 
    </p>
    
</form>

<!-- <div>
    <h3>Personal details</h3>
    {{ productForm.value | json }}
</div> -->

<!-- <div [hidden]="products.length == 0">
	<h3>Products added so far</h3>
	<ul>
		<li *ngFor="let p of products">{{p | json}}</li>
	</ul>
</div> -->