<h1>We're here to support you</h1>

<!-- 
  Note: Each control in an Angular form can have the following states:

    pristine  - true if the user has not yet interacted with the control.
    dirty     - true if the user has interacted with the control.
    
    untouched - true if the control has not yet lost focus.
    touched   - true if the control has lost focus.
    
    valid     - true if the control is valid.
    invalid   - true if the control is invalid.
-->
  
<form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <h2>Banking is a breeze in the app</h2>

    <p>
        Manage your banking anytime, anywhere with the Royal Bank app. Quickly freeze or unfreeze your card, move money or check your credit score for free.
    </p>

    <p>
        App criteria apply. Credit score available once opted in through the app, to customers aged 18+, with a UK address and is provided by TransUnion. Freeze and unfreeze debit cards or MasterCard credit cards only.
    </p>
</form>